<div>
    <h2 id="page-heading">
        <span>Rodzice</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parent" [routerLink]="['/parent/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Dodaj rodzica
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="parents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Użytkownik</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parent of parents ;trackBy: trackId">
                <td>
                    {{parent.user?.firstName}} {{parent.user?.lastName}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', 'parent', { outlets: { popup: parent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
