<form name="deleteForm" (ngSubmit)="confirmDelete(parent.id)">
    <div class="modal-header">
        <h4 class="modal-title">Potwierdź usunięcie rodzica.</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-parent-heading">Potwierdź usunięcie rodzica. Ta operacja nie usuwa użytkownika z systemu, a jedynie odbiera mu uprawnienia rodzica.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Anuluj</span>
        </button>
        <button id="jhi-confirm-delete-parent" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Usuń</span>
        </button>
    </div>
</form>
