<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="baby">
            <h2><span>Baby</span> {{baby.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{baby.name}}</span>
                </dd>
                <dt><span>Notes</span></dt>
                <dd>
                    <span>{{baby.notes}}</span>
                </dd>
                <dt><span>Parent</span></dt>
                <dd>
                    <div *ngIf="baby.parent">
                        <a [routerLink]="['/parent', baby.parent?.id, 'view']">{{baby.parent?.user}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/baby', baby.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
