<div>
    <h2 id="page-heading">
        <span>Moje dzieci</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-baby" [routerLink]="['/baby/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Dodaj nowe dziecko
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="babies">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Imię</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let baby of babies ;trackBy: trackId">
                <td>{{baby.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/baby', baby.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Otwórz</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'baby', { outlets: { popup: baby.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
