<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Witaj w Squacie dziecięcym!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Jesteś zalogowany/zalogowana jako "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Możesz się</span>
                <a class="alert-link" (click)="login()">zalogować</a><span>, używając kont testowych:
                    <br/>- Administrator (login="admin" and hasło="admin")
                    <br/>- Rodzic, który jest też opiekunką (login="user" and hasło="user").
                    <br/>- Rodzic zwykły (login="parent2" and hasło="parent2").
                    <br/>- Opiekunka (login="nanny" and hasło="nanny").
                    <br/>- Koordynator (login="coordinator" and hasło="coordinator").</span>
            </div>
        </div>

    </div>
</div>
