<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reservation">
            <h2><span>Reservation</span> {{reservation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>From Hour</span></dt>
                <dd>
                    <span>{{reservation.fromHour}}</span>
                </dd>
                <dt><span>To Hour</span></dt>
                <dd>
                    <span>{{reservation.toHour}}</span>
                </dd>
                <dt><span>Baby</span></dt>
                <dd>
                    <div *ngIf="reservation.baby">
                        <a [routerLink]="['/baby', reservation.baby?.id, 'view']">{{reservation.baby?.name}}</a>
                    </div>
                </dd>
                <dt><span>Day</span></dt>
                <dd>
                    <div *ngIf="reservation.day">
                        <a [routerLink]="['/day', reservation.day?.id, 'view']">{{reservation.day?.date}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reservation', reservation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
