<div>
    <h2 id="page-heading">
        <span>Reservations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation" [routerLink]="['/reservation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Reservation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="reservations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>From Hour</span></th>
            <th><span>To Hour</span></th>
            <th><span>Baby</span></th>
            <th><span>Day</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations ;trackBy: trackId">
                <td><a [routerLink]="['/reservation', reservation.id, 'view' ]">{{reservation.id}}</a></td>
                <td>{{reservation.fromHour}}</td>
                <td>{{reservation.toHour}}</td>
                <td>
                    <div *ngIf="reservation.baby">
                        <a [routerLink]="['../baby', reservation.baby?.id, 'view' ]" >{{reservation.baby?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="reservation.day">
                        <a [routerLink]="['../day', reservation.day?.id, 'view' ]" >{{reservation.day?.date}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/reservation', reservation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/reservation', reservation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'reservation', { outlets: { popup: reservation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
