<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-reservation-heading">Create or edit a Reservation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!reservation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="reservation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fromHour">From Hour</label>
                    <input type="number" class="form-control" name="fromHour" id="field_fromHour"
                        [(ngModel)]="reservation.fromHour" required min="8" jhiMin="8" max="18" jhiMax="18"/>
                    <div [hidden]="!(editForm.controls.fromHour?.dirty && editForm.controls.fromHour?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fromHour?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fromHour?.errors?.min">
                            This field should be at least 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fromHour?.errors?.max">
                            This field cannot be more than 18.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.fromHour?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_toHour">To Hour</label>
                    <input type="number" class="form-control" name="toHour" id="field_toHour"
                        [(ngModel)]="reservation.toHour" required min="8" jhiMin="8" max="18" jhiMax="18"/>
                    <div [hidden]="!(editForm.controls.toHour?.dirty && editForm.controls.toHour?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.toHour?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.toHour?.errors?.min">
                            This field should be at least 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.toHour?.errors?.max">
                            This field cannot be more than 18.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.toHour?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_baby">Baby</label>
                    <select class="form-control" id="field_baby" name="baby" [(ngModel)]="reservation.baby"  required>
                        <option *ngIf="!editForm.value.baby" [ngValue]="null" selected></option>
                        <option [ngValue]="babyOption.id === reservation.baby?.id ? reservation.baby : babyOption" *ngFor="let babyOption of babies; trackBy: trackBabyById">{{babyOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.baby?.dirty && editForm.controls.baby?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.baby?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_day">Day</label>
                    <select class="form-control" id="field_day" name="day" [(ngModel)]="reservation.day"  required>
                        <option *ngIf="!editForm.value.day" [ngValue]="null" selected></option>
                        <option [ngValue]="dayOption.id === reservation.day?.id ? reservation.day : dayOption" *ngFor="let dayOption of days; trackBy: trackDayById">{{dayOption.date}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.day?.dirty && editForm.controls.day?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.day?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
