<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="goToSecondStep()" #editForm="ngForm" *ngIf="!secondStep">
            <h2 id="jhi-billing-cycle-heading">Okres rozliczeniowy</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_startDate">Początek</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="billingCycle.startDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startDate?.errors?.required">
                        Pole jest wymagane
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">Koniec</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="billingCycle.endDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endDate?.errors?.required">
                        Pole jest wymagane
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Wróć</span>
                </button>
                <button type="submit" id="showTable" [disabled]="editForm.form.invalid || isValidatingDates" class="btn btn-primary">
                    <fa-icon [icon]="'arrow-right'"></fa-icon>&nbsp;<span>Przejdź dalej</span>
                </button>
            </div>
        </form>

        <div *ngIf="secondStep" class="mt-3">
            <jhi-alert-error></jhi-alert-error>
            <div class="text-danger" *ngFor="let err of tableValidationErrors">{{err}}</div>
            <div>Początek: {{billingCycle.startDate | date:'mediumDate'}}</div>
            <div>Koniec: {{billingCycle.endDate | date:'mediumDate'}}</div>
            <div>Status rejestracji: {{billingCycle.registrationOpen ? 'otwarta' : 'zamknięta' }}</div>
            <button type="button" id="closeRegistration" class="btn btn-secondary" [disabled]="!billingCycle.registrationOpen || isClosingRegistration"
                (click)="closeRegistration()" [hidden]="!billingCycle.id" >
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Zamknij rejestrację</span>
            </button>

            <jhi-billing-cycle-callendar [daysObs]="daysObs"></jhi-billing-cycle-callendar>
            <div>
                <button type="button" id="backToFirstStep" class="btn btn-secondary"  (click)="billingCycle.id ? previousState() : goToFirstStep()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Wróć</span>
                </button>
                <button type="button" id="save" [hidden]="billingCycle.id" class="btn btn-primary" [disabled]="isSaving"
                    (click)="save()">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Zapisz</span>
                </button>
            </div>
        </div>
    </div>
</div>
