<div>
    <h2 id="page-heading">
        <span>Billing Cycles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-billing-cycle" [routerLink]="['/billing-cycle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Billing Cycle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="billingCycles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>Początek</span></th>
            <th><span>Koniec</span></th>
            <th><span>Status rejestracji</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let billingCycle of billingCycles ;trackBy: trackId">
                <!-- <td><a [routerLink]="['/billing-cycle', billingCycle.id, 'view' ]">{{billingCycle.id}}</a></td> -->
                <td>{{billingCycle.startDate | date:'mediumDate'}}</td>
                <td>{{billingCycle.endDate | date:'mediumDate'}}</td>
                <td>{{billingCycle.registrationOpen ? 'otwarta' : 'zamknięta' }}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/billing-cycle', billingCycle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Otwórz</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'billing-cycle', { outlets: { popup: billingCycle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
