<table class="table" style="table-layout: fixed">
    <thead>
    <tr>
        <th>
            <button type="button" id="configure-mon" class="btn btn-primary"
                (click)="openSetWeekdayDialog(1, 'Edytuj wszystkie poniedziałki')">
                <span>Pon</span>
            </button>
        </th>
        <th>
            <button type="button" id="configure-mon" class="btn btn-primary"
                (click)="openSetWeekdayDialog(2, 'Edytuj wszystkie wtorki')">
                <span>Wt</span>
            </button>
        </th>
        <th>
            <button type="button" id="configure-mon" class="btn btn-primary"
                (click)="openSetWeekdayDialog(3, 'Edytuj wszystkie środy')">
                <span>Śr</span>
            </button>
        </th>
        <th>
            <button type="button" id="configure-mon" class="btn btn-primary"
                (click)="openSetWeekdayDialog(4, 'Edytuj wszystkie czwartki')">
                <span>Czw</span>
            </button>
        </th>
        <th>
            <button type="button" id="configure-mon" class="btn btn-primary"
                (click)="openSetWeekdayDialog(5, 'Edytuj wszystkie piątki')">
                <span>Pt</span>
            </button>
        </th>
        <th>
            <button type="button" id="configure-mon" class="btn btn-primary"
                (click)="openSetWeekdayDialog(6, 'Edytuj wszystkie soboty')">
                <span>Sob</span>
            </button>
        </th>
        <th>
            <button type="button" id="configure-mon" class="btn btn-primary"
                (click)="openSetWeekdayDialog(7, 'Edytuj wszystkie niedziele')">
                <span>Niedz</span>
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td *ngFor="let i of filling">
            <td *ngFor="let day of weeks[0]" [ngStyle]="{'background-color': day.open ? 'lime' : 'grey' }">
            <jhi-day-vm [day]="day"></jhi-day-vm>
            </td>
        </tr>
        <tr *ngFor="let week of weeks.slice(1)">
            <td *ngFor="let day of week" [ngStyle]="{'background-color': day.open ? 'lime' : 'grey' }">
                <jhi-day-vm [day]="day"></jhi-day-vm>
            </td>
        </tr>
    </tbody>
</table>
