<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <div class="checkbox">
                <label>
                  <input type="checkbox" [(ngModel)]="dayVM.open" id="field_open" name="field_open"> Czynne
                </label>
              </div>
            <div class="form-row mt-3">
                <div class="form-group col-md-3">
                <label for="field_start">Od</label>
                <ngb-timepicker id="field_start" name="field_start" [(ngModel)]="dayVM.startTime"
                    [hourStep]="1" [minuteStep]="30" [meridian]="false" [spinners]="false"></ngb-timepicker>
                </div>
                <div class="form-group col-md-3">
                <label for="field_end">Do</label>
                <ngb-timepicker id="field_end" name="field_end" [(ngModel)]="dayVM.endTime"
                    [hourStep]="1" [minuteStep]="30" [meridian]="false" [spinners]="false"></ngb-timepicker>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_name">Adres</label>
                <input type="text" class="form-control" name="name" id="field_address"
                    [(ngModel)]="dayVM.address" required/>
                <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                    <small class="form-text text-danger"
                    [hidden]="!editForm.controls.name?.errors?.required">
                    To pole jest wymagane.
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="field_notes">Notatki</label>
                <input type="text" class="form-control" name="notes" id="field_notes"
                    [(ngModel)]="dayVM.notes" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="editForm.form.invalid" (click)="save()">Zapisz</button>
</div>
